.about-us {
  padding: 60px 0;
  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}

.about-us-list {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

@each $iconName in $about-us-icons {
  .about-us-item-#{$iconName} {
    @media screen and (max-width: $before-tablet) {
      &:not(:last-child) {
        margin-bottom: 30px;
      }
    }

    @media screen and (min-width: $tablet) {
      width: calc((100% - 2 * 30px) / 2);
      margin: 15px;
    }
    @media screen and (min-width: $desktop) {
      width: calc((100% - 4 * 30px) / 4);
    }

    &::before {
      display: block;
      content: '';
      height: 120px;
      background-image: url(../images/icons/#{$iconName}.svg);
      background-color: $background-color-light-pink;
      background-repeat: no-repeat;
      background-position: center;
      margin-bottom: 30px;
    }
  }
}

.about-us-title {
  text-align: center;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;

  @media screen and (min-width: $tablet) {
    text-align: start;
  }
}
.about-us-text {
  line-height: 1.71;
  color: $text-color-grey;
}
