.clients {
  padding: 60px 0;
  @media screen and (min-width: $desktop) {
    padding: 94px 0;
  }
}
.clients-title {
  @extend %section-title;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    margin-bottom: 50px;
  }
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin: -15px;

  li {
    width: calc((100% - 4 * 15px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: $tablet) {
    li {
      width: calc((100% - 6 * 15px) / 3);
    }
  }

  @media screen and (min-width: $desktop) {
    li {
      width: calc((100% - 6 * 30px) / 6);
    }
  }
}
.clients-link {
  @include flex-center();
  height: 90px;
  border: 1px solid $icon-color;
  color: $icon-color;
  border-radius: 4px;
  background-position: center;

  @include transition(all);

  &:hover {
    color: $accent-color;
    border-color: $accent-color;
  }
}
.clients-logo {
  fill: currentColor;
}
