.footer {
  background-color: $background-color-gray;
  padding: 60px 0;
  @media screen and (max-width: $desktop) {
    text-align: center;
  }
}
.footer .logo {
  margin-bottom: 20px;
}
.footer-nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-around;
  }
  @media screen and (min-width: $desktop) {
    justify-content: space-between;
  }
}
.footer-auth-nav-list {
  @media screen and (max-width: $tablet) {
    margin-bottom: 60px;
  }
}
.footer-auth-nav-link {
  line-height: 1.71;
  color: $text-color-auth-nav;
  font-style: normal;

  @media screen and (max-width: $desktop) {
    @include flex-center();
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }

  &:first-child {
    color: $text-color-white;
  }
}
.footer-social-links-title {
  @extend %white-title;
  margin-bottom: 20px;

  @media screen and (max-width: $desktop) {
    text-align: center;
  }
}
.footer-social-links-list {
  @include flex-center();
  margin: 0 -5px 0;
}

@each $iconName in $footer-icons {
  .footer-social-links-#{$iconName} {
    background-image: url(../images/icons/#{$iconName}.svg);
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    background-size: 20px;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 0 5px 0;

    @include transition(background-color);

    &:hover {
      cursor: pointer;
      background-color: $accent-color;
    }
  }
}

.footer-form {
  @media screen and (max-width: $desktop) {
    @include flex-center();
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 60px;
  }
}

.footer-form-title {
  @extend %white-title;
  margin-bottom: 20px;
}
.footer-input {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background-color: inherit;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 4px;
  padding: 15px 16px;
  margin-bottom: 20px;

  @media screen and (min-width: $desktop) {
    width: 358px;
  }

  &::placeholder {
    font-size: 16px;
    line-height: 1.25;
    color: rgba(255, 255, 255, 0.6);
  }
}
.footer-input-button {
  @extend %btn;
  display: inline-flex;
  justify-content: baseline;
  align-items: center;
  padding: 10px 28px;
  margin-left: 12px;
}
.footer-input-img {
  margin-left: 10px;
  fill: $text-color-white;
}
