.hero {
  text-align: center;
  padding: 118px 0;
  margin-left: auto;
  margin-right: auto;
  height: 400px;
  max-width: 1600px;
  background-color: $background-color-gray;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(./../images/img_header_mobile.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/img_header_mobile@2x.jpg);
  }
}
@media screen and (min-width: 701px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/img_header_tablet.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../images/img_header_tablet@2x.jpg);
    }
  }
}
@media screen and (min-width: 951px) {
  .hero {
    padding: 200px 0;
    height: 600px;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(./../images/Img_header_desktop.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          to right,
          rgba(47, 48, 58, 0.4),
          rgba(47, 48, 58, 0.4)
        ),
        url(./../images/Img_header_desktop@2x.jpg);
    }
  }
}

.hero-title {
  font-weight: 900;
  font-size: 26px;
  line-height: 1.61;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: $text-color-white;
  margin-bottom: 30px;

  @media screen and (min-width: $desktop) {
    font-size: 44px;
    line-height: 1.36;
  }
}
.hero-button {
  @extend %btn;
}
