.header {
  position: relative;
}

.header-nav {
  height: 60px;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
  }

  @media screen and (min-width: $desktop) {
    justify-content: center;
    align-items: center;
  }
}
.header .logo {
  @media screen and (min-width: $tablet) {
    margin: 26px 0;
  }
}
.menu-button {
  display: inline-block;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;

  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-button .menu-icon-close {
  display: none;
}
.menu-button.is-open .menu-icon-close {
  display: block;
}
.menu-button.is-open .menu-icon-open {
  display: none;
}
.menu-container {
  display: none;

  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: $text-color-white;
  // padding: 20%;
  text-align: center;

  &.is-open {
    display: block;
  }
}

.site-nav {
  li:not(:last-child) {
    margin-right: 50px;
  }

  // ИСПРАВИТЬ
  // @media screen and (max-width: $tablet) {
  //   display: none;
  // }

  @media screen and (min-width: $tablet) {
    margin: 32px 0;
    display: inline-flex;
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.site-nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.current-link {
  position: relative;
  color: $accent-color;

  &::after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 29px;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accent-color;
    opacity: 1;
  }
}
.auth-nav {
  // ИСПРАВИТЬ
  // @media screen and (max-width: $before-tablet) {
  //   display: none;
  // }

  @media screen and (min-width: $tablet) {
    margin: 21px 0;
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    margin-left: auto;

    li:not(:first-child) {
      margin: 0 0 0 50px;
    }
  }
}

.auth-nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $text-color-grey;

  @media screen and (min-width: $desktop) {
    @include flex-center();
  }

  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-icon {
  fill: currentColor;
  margin-right: 10px;
}
