.header {
  position: relative;
}
.header-nav {
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
    height: 80px;
  }
}

.mobile-header {
  @media screen and (max-width: $before-tablet) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: $text-color-white;
    height: 60px;

    z-index: 2;
  }
}
.menu-button {
  padding: 0;
  border: none;
  background-color: transparent;

  @include transition(color);

  &:hover {
    color: $accent-color;
  }
  .menu-icon-open,
  .menu-icon-close {
    fill: currentColor;
  }
  @media screen and (min-width: $tablet) {
    display: none;
  }
}
.menu-button .menu-icon-close {
  display: none;
}
.menu-button.is-open .menu-icon-close {
  display: block;
}
.menu-button.is-open .menu-icon-open {
  display: none;
}

.menu-container {
  @media screen and (max-width: $before-tablet) {
    position: absolute;
    text-align: center;
    top: 100%;
    left: 0;
    width: 100%;
    font-size: 18px;
    background-color: $text-color-white;
    border-top: 1px solid $border-color;
    padding: 60px 0;

    transform: translateY(-110%);

    z-index: 1;

    @include transition(transform);

    &.is-open {
      transform: translateY(0);
    }
  }
  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.site-nav {
  @media screen and (max-width: $before-tablet) {
    margin-bottom: 60px;

    li:not(:last-child) {
      margin-bottom: 40px;
    }
  }
  @media screen and (min-width: $tablet) {
    display: inline-flex;
    margin-left: 84px;

    li:not(:last-child) {
      margin-right: 50px;
    }
  }

  @media screen and (min-width: $desktop) {
    margin-left: 93px;
  }
}

.site-nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;

  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: $desktop) {
    display: flex;
  }
}

.current-link {
  position: relative;
  color: $accent-color;

  &::after {
    display: inline-block;
    content: '';
    position: absolute;
    top: 29px;
    left: 0;
    height: 4px;
    width: 100%;
    border-radius: 2px;
    background-color: $accent-color;
    opacity: 1;

    @media screen and (min-width: $tablet) {
      top: 44px;
    }
  }
}
.auth-nav {
  @media screen and (max-width: $before-tablet) {
    li:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  @media screen and (min-width: $tablet) {
    font-size: 12px;
    margin-left: 84px;

    li:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  @media screen and (min-width: $desktop) {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 305px;

    li:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }
}

.auth-nav-link {
  font-weight: 500;
  letter-spacing: 0.02em;
  color: $text-color-grey;

  @media screen and (min-width: $tablet) {
    display: flex;
    align-items: center;
  }

  @include transition(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.nav-icon {
  fill: currentColor;
  margin-right: 10px;
}
