body {
  font-family: $main-font;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: $text-color-black;
  background-color: $text-color-white;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.is-hidden {
  visibility: 0;
  opacity: 0;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  pointer-events: none;
  transform: scale(0);
}
