$text-color-white: #ffffff;
$text-color-black: #212121;
$text-color-grey: #757575;
$accent-color: #2196f3;
$text-color-auth-nav: rgba(255, 255, 255, 0.6);
$text-color-black-logo: #000000;
$background-color-gray: #2f303a;
$background-color-light-pink: #f5f4fa;
$border-color: #ececec;
$border-color-projects: #eeeeee;
$icon-color: #afb1b8;

$timing-function: cubic-bezier(0.4, 0, 0.2, 1);

$main-font: 'Roboto', sans-serif;
$logo-font: 'Raleway', sans-serif;

$footer-icons: 'instagram', 'twitter', 'facebook', 'linkedin';
$about-us-icons: 'antenna', 'clock', 'diagram', 'astronaut';

$mobile: 480px;
$before-tablet: 767px;
$tablet: 768px;
$desktop: 1600px;
